#upFile{
  position:absolute;
  top:30%;
  left:30%;
  width:510px;
  height:320px;
  border:2px solid #000000;
  background-color:#cccccc;
}

#ifUpload{
  frameborder:0;
  position:absolute;
  width:500px;
  height:270px;
  border:0px solid #000000;
  background-color:#cccccc;
}


#explorer{
  position:absolute;
  top:10%;
  left:10%;
  width:510px;
  height:500px;
  border:2px solid #000000;
  background-color:#cccccc;
}


